{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Starshop {% endblock %}
{% block body %}
<strong>Starshop</strong>
<div>
    Browse through {{ ships|length }} starships!
</div>

<div>
     {% if ships|length > 2 %}

        <div>
            {# Comments here #}
            dayum
        </div>

        <div>
            {# Twig automatically finds getters! #}
            {{ myShip.name }}
            {{ myShip.class}}
            {{ myShip.captain}}
            {{ myShip.status}}
        </div>
        <div>

        </div>

{% endif %}
</div>
{% endblock %}